<footer>
    <div class="footer-top">
        <ul class="footer-notice">
            <li><i class="fa fa-exclamation-circle"></i> </li>
            <li>공지사항</li>
            <li class="footer-notice-list">2017 한강몽땅 프로그램별 푸드트럭 상인...</li>
        </ul>
        <ul class="footer-info">
            <li><span>문의</span>120</li>
            <li><span>홍보문의</span>bamdokkaebi@gmail.com</li>
        </ul>
    </div>
    <div class="footer-bottom">
        <div class="bottom-info">
            Seoul Bamdokkaebi Night Market Seoul Metropolitan Gov. All Rights Reserved.<br>
            서울특별시청 04524 서울특별시 중구 세종대로 110  |  한빛 주식회사 서울특별시 마포구 백범로<br>
            사업자 Seoul Bamdokkaebi Night Market 한빛 주식회사
        </div>
        <div class="bottom-logo">
            <img src="../img/footer_seoul_logo.png">
        </div>
    </div>
</footer>
