<header>
    <div class="header-logo">
        <img src="../img/header_btn/header_nav_logo.png">
    </div>
    <ul class="header-menu">
    </ul>
    <ul class="header-sns">
        <li class="fa fa-facebook"></li>
        <li class="fa fa-twitter"></li>
        <li class="fa fa-instagram"></li>
    </ul>
</header>