<li>
    <div class="header-menu-btn">
        <img src="../img/header_btn/{{imgName}}">
    </div>
    <ul class="header-sub-menu">
    {{#each subMenu~}}
        <li>{{menu}}</li>
    {{~/each}}
    </ul>
</li>