<header>
    <div class="header-logo">
        <img src="../img/header_nav_logo.png">
    </div>
    <ul class="header-menu">
        <li>
            <div class="header-menu-btn">
                <img src="../img/header_nav_menu_introduce.png">
            </div>
            <ul class="header-sub-menu">
                <li>야시장소개</li>
                <li>MI & 캐릭터</li>
                <li>문의하기</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-btn">
                <img src="../img/header_nav_menu_yyd.png">
            </div>
            <ul class="header-sub-menu">
                <li>소개</li>
                <li>상단소개</li>
                <li>공연안내</li>
                <li>현장스케치</li>
                <li>공지사항</li>
                <li>오시는길</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-btn">
                <img src="../img/header_nav_menu_cgc.png">
            </div>
            <ul class="header-sub-menu">
                <li>소개</li>
                <li>상단소개</li>
                <li>공연안내</li>
                <li>현장스케치</li>
                <li>공지사항</li>
                <li>오시는길</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-btn">
                <img src="../img/header_nav_menu_banpo.png">
            </div>
            <ul class="header-sub-menu">
                <li>소개</li>
                <li>상단소개</li>
                <li>공연안내</li>
                <li>현장스케치</li>
                <li>공지사항</li>
                <li>오시는길</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-btn">
                <img src="../img/header_nav_menu_cggj.png">
            </div>
            <ul class="header-sub-menu">
                <li>소개</li>
                <li>상단소개</li>
                <li>공연안내</li>
                <li>현장스케치</li>
                <li>공지사항</li>
                <li>오시는길</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-btn">
                <img src="../img/header_nav_menu_news.png">
            </div>
            <ul class="header-sub-menu">
                <li>공지사항</li>
                <li>현장스케치</li>
                <li>언론보도</li>
                <li>영상자료실</li>
            </ul>
        </li>
    </ul>
    <ul class="header-sns">
        <li class="fa fa-facebook"></li>
        <li class="fa fa-twitter"></li>
        <li class="fa fa-instagram"></li>
    </ul>
</header>