<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>서울밤도깨비야시장</title>
</head>
<body>
{{> template/header}}
<section class="section-main">
    <div class="main-logo">
        <img src="./img/main_big_logo.png">
    </div>
    <ul class="main-img-btn">
        <li class="prev-img-btn">
            <img src="./img/slider_btn_left.png">
        </li>
        <li class="next-img-btn">
            <img src="./img/slider_btn_right.png">
        </li>
    </ul>
</section>
<section class="section-sub">
    <ul class="market-menu">
        <li class="none1"></li>
        <li class="yyd-market"></li>
        <li class="ddp-market"></li>
        <li class="cgc-market"></li>
        <li class="bp-market"></li>
        <li class="cgc-square-market"></li>
        <li class="none2"></li>
    </ul>
</section>
{{> template/footer}}
</body>
</html>